<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{ :: body}, 'manualIndexAndFormStep')}">
<head>
    <meta charset="UTF-8">
    <title>Manual</title>
</head>
<body>
<div class="container">
    <h1 class="title text-center">How to cook it</h1>
    <br/>

    <p class="text-center">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseStepForm"
                aria-expanded="false" aria-controls="collapseStepForm">
            New step
        </button>
    </p>
    <input type="hidden" id="recipeId" th:value="${recipe.id}">
    <div class="collapse" id="collapseStepForm">
        <form id="form" method="post" enctype="multipart/form-data">

            <div class="card card-body">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3"
                              maxlength="350" name="description"></textarea>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input name="image" type="file" class="custom-file-input" id="image">
                    <label class="custom-file-label" for="image">Choose image</label>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <table th:object="${recipe}" class="table table-striped list-ingredients">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="step : *{steps}">
            <th scope="row" th:text="${step.id}"></th>
            <td>
                <img class="step-image" src="" th:data-recipe-id="${recipe.id}" th:data-step-id="${step.id}">
            </td>
            <td th:text="${step.description}"></td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalStepEdit"
                        th:data-description="${step.description}" th:data-recipe="${recipe.id}"
                        th:data-step="${step.id}">Edit
                </button>
            </td>
            <td><a th:href="@{/steps/__${step.id}__}" class="text-danger delete-link">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <h2 class="text-muted text-center" th:if="${recipe.steps.size() == 0}">
        List is Empty
    </h2>
    <a class="btn btn-primary mb-5" th:href="@{/recipes/__${recipe.id}__/ingredients}" role="button">Previous</a>
    <a class="btn btn-primary mb-5" href="/recipes" role="button">Save recipe</a>
</div>


<!-- Modal -->
<div id="modalStepEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit step</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form method='post' action='' id="editForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="descriptionModal">Description</label>
                        <textarea name="description" class="form-control" id="descriptionModal" rows="3"
                                  maxlength="350"></textarea>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="custom-file mb-3">
                        <input name="image" type="file" class="custom-file-input" id="imageModal">
                        <label class="custom-file-label" for="imageModal">Choose image</label>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/modal_step_edit.js}"></script>
<script th:src="@{/js/step/stepPage.js}"></script>
</body>
</html>