.recipe-list-image{
    width: 200px;
    height: 268px;
    object-fit: cover;
}

.step-image{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.recipe-image {
    width: 350px;
    height: 312px;
    object-fit: cover;
}
