.hello-card {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hello-card img{
    padding-top: 10px;
    width: 35%;
    height: 35%;
}

.container-shadow{
    -webkit-box-shadow: 1px 0px 29px -9px rgba(186,186,186,1);
    -moz-box-shadow: 1px 0px 29px -9px rgba(186,186,186,1);
    box-shadow: 1px 0px 29px -9px rgba(186,186,186,1);
    border-radius: 12px;
}